@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
    padding: 0;
    margin: 0;
    --primary: #f40082;
    --secondary: #ffd200;
    background: #030303;

}
* {
    font-family: 'Roboto', sans-serif;
}
.currentTime {
    margin-left: 25px;
  }
  
  .progressBar {
    --bar-bg: rgb(76, 76, 76);
    --seek-before-width: 0;
    --seek-before-color: rgb(255, 1, 0);
    --knobby: rgb(255, 1, 0);
    --selectedKnobby: rgb(255, 1, 0);
  
    appearance: none;
    background: var(--bar-bg);;
    border-radius: 3px;
    position: relative;
    width: 100%;
    outline: none;

  }
  
  /* progress bar - safari */
  .progressBar::-webkit-slider-runnable-track {
    background: var(--bar-bg);;
    border-radius: 0px;
    position: relative;
    width: 100%;
    height: 5px;
    outline: none;
  }
  
  /* progress bar - firefox */
  .progressBar::-moz-range-track {
    background: var(--bar-bg);;
    border-radius: 0px;
    position: relative;
    width: 100%;
    height: 5px;
    outline: none;

  }
  
  .progressBar::-moz-focus-outer {
    border: 0;
  }
  
  /* progress bar - chrome and safari */
  .progressBar::before {
    content: '';
    height: 5px;
    width: var(--seek-before-width);
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 2;
    cursor: pointer;
  }
  
  /* progress bar - firefox */
  .progressBar::-moz-range-progress {
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 5px;
  }
  
  /* knobby - chrome and safari */
  .progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: none;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    margin: -4px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
  }
  
  /* knobby while dragging - chrome and safari */
  .progressBar:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
  }
  
  /* knobby - firefox */
  .progressBar::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: transparent;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
  }
  
  /* knobby while dragging - firefox */
  .progressBar:active::-moz-range-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
  }
.volume {
    appearance: none;
    background: #909090;
    position: relative;
    width: 70px;
    outline: none;
    height: 3px;
    margin-right: 20px;
}

.volume::-webkit-slider-runnable-track {
    background: var(--bar-bg);;
    border-radius: 0px;
    position: relative;
    width: 100%;
    height: 5px;
    outline: none;
  }